@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #c4d6b5; /* Vert pâle */
    color: #343a3f; /* Noir doux */
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #343a3f; /* Noir doux */
    text-decoration: none;
    font-weight: 600;
    overflow: hidden;
    margin-left: 45px;
    margin-top: 10px;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #c4d6b5;
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}

.navbar a {
    font-size: 18px;
    color: #fdfdfd; /* Noir doux */
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #c4d6b5;
    animation: showRight 1.5s ease forwards;
    animation-delay: 0.6s;
}
.navbar a:hover,
.navbar a.active {
    color: #fdfdfd; /* Marron foncé */
}

.home {
    height: 100vh;
    background: url(FOND2.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%; 
}

.home-content {
    max-width: 600px;
    position: relative;
    z-index: 1;
    text-align: left; /* Assurer l'alignement à gauche */
}

.home-content h1 {
    position: relative;
    width: 120%;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #343a3f; /* Noir doux */
    overflow: hidden;
    text-align: left; /* Alignement à gauche */
    top: -75px;
    line-height: 1.;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    background: #c4d6b5; 
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    z-index: 1;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #343a3f; /* Marron foncé */
    overflow: hidden;
    text-align: left; /* Alignement à gauche */
    top: 10px;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #c4d6b5; 
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
    z-index: 1;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
    color: #343a3f; /* Noir doux */
    overflow: hidden;
    text-align: left; /* Alignement à gauche */
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #c4d6b5;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    display: flex;
    gap: 15px;
    position: relative;
    z-index: 1;
}

.home-content .btn-box ::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:#c4d6b5;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: #343a3f; 
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

.btn-box a:hover {
    background: #dac3a0; /* Beige sable */
    color: #8b6b4f; /* Marron foncé */
}


.home-sci {
    position: absolute;
    bottom: 20px; /* Positionner en bas à gauche */
    left: 0;
    width: 170px;
    display: flex;
    justify-content: flex-start;
    gap: 8px; 
    margin-left: 40px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #343a3f; /* Bleu-vert doux */
    border-radius: 50%;
    font-size: 20px;
    color: #343a3f; /* Bleu-vert doux */
    text-decoration: none;
    transition: 0.5s;

}

.home-sci a:hover {
    background: #86c5a9; /* Bleu-vert doux */
    color: #ffffff; /* Blanc */
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #c4d6b5;
    animation: showRight 2s ease forwards;
    animation-delay: 2.5s;
}

.home-sci a:hover::before{
    width: 100%;

}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 1px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover 1. forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover{
    background: #081b29;
    opacity: .8;
}

.home-imgHover::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background:#c4d6b5;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
    z-index: 100;
}

/* Animations */
@keyframes showRight {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}


